@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.App {
  text-align: center;
  background-color: #F6DA78;
  padding: 10px 0;
  
  font-size: 1.5rem;
  
}

.card-container{
  background-color: #F48B29;
}

.lang-card{
  font-family: 'VT323', monospace;
}

.lang-card:hover{
  box-shadow: 0 0 5px black;
}

.stripe{
  background-color: aqua;
}